{{ define "main" }}
<section class="site-hero overlay" style="background-image: url('/master/images/school_of_athens.jpg');">
    <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
        <h1 class="heading mb-4" data-aos="fade-up">Master channel</h1>
        <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            by <a href="https://www.linkedin.com/in/mrpark97/" target="_blank">Evgeniy Pak</a>
        </p>
        <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
            <a href="https://t.me/master_channel" target="_blank" class="btn uppercase btn-outline-light d-sm-inline d-block py-3">join our Telegram channel</a>
        </p>
        </div>
    </div>
    <p  data-aos="fade-up" data-aos-offset="-500"><a href="#next-section" class="scroll-down smoothscroll"> <span class="fa fa-play"></span> Scroll Down</a></p>
    </div>
</section>
<!-- END section -->


<section class="section slider-section" id="next-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8">
        <h2 class="heading" data-aos="fade-up">The Course of Empire</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">Thomas Cole</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="slider-item">
            <img src="/master/images/The course of empire/The_Savage_State.jpg" alt="The Savage State" class="img-fluid">
          </div>
          <div class="slider-item">
            <img src="/master/images/The course of empire/The_Arcadian_or_Pastoral_State.jpg" alt="The Arcadian" class="img-fluid">
          </div>
          <div class="slider-item">
            <img src="/master/images/The course of empire/The_Consummation.jpg" alt="The Consummation of Empire" class="img-fluid">
          </div>
          <div class="slider-item">
            <img src="/master/images/The course of empire/Destruction.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="slider-item">
            <img src="/master/images/The course of empire/Desolation.jpg" alt="Image placeholder" class="img-fluid">
          </div>
        </div>
        <!-- END slider -->
      </div>
    
    </div>
  </div>
</section>
<!-- END section -->


<section class="section blog-post-entry bg-light slant-top">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 primary-bg-text">
        <h2 class="heading" data-aos="fade-up">Recent Blog Post</h2>
        <p class="lead" data-aos="fade-up">Information is not knowledge.</p>
      </div>
    </div>
    <div class="row">
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range (first 6 $paginator.Pages) }}
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">
          <div class="media media-custom d-block mb-4">
              <a href="{{ .RelPermalink }}" class="mb-4 d-block">
                <img src="{{ .RelPermalink }}/image.jpg" alt="Shoe Dog" class="img-fluid"></a>
                <div class="media-body">
                <span class="meta-post">{{ .PublishDate.Format $dateFormat }}</span>
                <h2 class="mt-0 mb-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <p>{{ .Params.author }}</p>
              </div>
          </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
<!-- END section -->
{{ end }}