{{ define "main" }}
<section class="site-hero overlay" style="background-image: url('/master/images/The_Last_Supper.jpg');">
    <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
        <h1 class="heading mb-4" data-aos="fade-up">Master channel</h1>
        <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            by <a href="https://www.linkedin.com/in/mrpark97/" target="_blank">Evgeniy Pak</a>
        </p>
        <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
            <a href="https://t.me/master_channel" target="_blank" class="btn uppercase btn-outline-light d-sm-inline d-block py-3">join our Telegram channel</a>
        </p>
        </div>
    </div>
    <p  data-aos="fade-up" data-aos-offset="-500"><a href="#next-section" class="scroll-down smoothscroll"> <span class="fa fa-play"></span> Scroll Down</a></p>
    </div>
</section>
<!-- END section -->




{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

<section class="section bg-light-2 post" id="next-section">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
        <div class="row mb-5">
            {{ $paginator := .Paginator }}
            
            {{ range $paginator.Pages }}
            <div class="col-md-6">
                <div class="media media-custom d-block mb-4">
                <a href="{{ .RelPermalink }}" class="mb-4 d-block"><img src="{{ .RelPermalink }}image.jpg" alt="Image placeholder" class="img-fluid"></a>
                <div class="media-body">
                <span class="meta-post">{{ .PublishDate.Format $dateFormat }}</span>
                <h2 class="mt-0 mb-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <p> by {{ .Params.author }}</p>
                </div>
            </div>
            </div>
            {{ end }}
        </div>

        {{ $paginator := .Paginator }}

        <!-- Number of links either side of the current page. -->
        {{ $adjacent_links := 2 }}

        <!-- $max_links = ($adjacent_links * 2) + 1 -->
        {{ $max_links := (add (mul $adjacent_links 2) 1) }}

        <!-- $lower_limit = $adjacent_links + 1 -->
        {{ $lower_limit := (add $adjacent_links 1) }}

        <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
        {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

        <div class="row">
            <div class="col-md-12">
            <nav role="navigation">
                {{ if gt $paginator.TotalPages 1 }}
                <!-- Page number code goes here. -->
                <ul class="pagination custom-pagination pagination-lg">
                {{ if ne $paginator.PageNumber 1 }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ $paginator.First.URL }}">&larr;</a>
                    </li>
                {{ end }}



                {{ if $paginator.HasPrev }}
                    <li class="page-item ">
                        <a class="page-link " href="{{ $paginator.Prev.URL }}"><<</a>
                    </li>
                {{ end }}


                {{ range $paginator.Pagers }}

                    {{ $.Scratch.Set "page_number_flag" false }}
        
                    <!-- Advanced page numbers. -->
                    {{ if gt $paginator.TotalPages $max_links }}


                        <!-- Lower limit pages. -->
                        <!-- If the user is on a page which is in the lower limit.  -->
                        {{ if le $paginator.PageNumber $lower_limit }}

                        <!-- If the current loop page is less than max_links. -->
                        {{ if le .PageNumber $max_links }}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}


                        <!-- Upper limit pages. -->
                        <!-- If the user is on a page which is in the upper limit. -->
                        {{ else if ge $paginator.PageNumber $upper_limit }}

                        <!-- If the current loop page is greater than total pages minus $max_links -->
                        {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}


                        <!-- Middle pages. -->
                        {{ else }}
                        
                        {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                            {{ $.Scratch.Set "page_number_flag" true }}
                        {{ end }}

                        {{ end }}

                    
                    <!-- Simple page numbers. -->
                    {{ else }}

                        {{ $.Scratch.Set "page_number_flag" true }}

                    {{ end }}




                    {{ if eq ($.Scratch.Get "page_number_flag") true }}
                    <li class="page-item {{ if eq . $paginator }}active{{ end }}">
                        <a class="page-link " href="{{ .URL }}">{{ .PageNumber }}</a>
                    </li>
                    {{ end }}
                {{ end }}

                {{ if $paginator.HasNext }}
                    <li class="page-item ">
                        <a class="page-link " href="{{ $paginator.Next.URL }}">>></a>
                    </li>
                {{ end }}


                {{ if ne $paginator.PageNumber $paginator.TotalPages }}
                    <li class="page-item ">
                        <a class="page-link " href="{{ $paginator.Last.URL }}">&rarr;</a>
                    </li>
                {{ end }}



                </ul>
                {{ end }}
            </nav>
            </div>
        </div>
        </div>
        <!-- END content -->
        <div class="col-md-4">
        <div class="row">

            <div class="col-md-11 ml-auto"> 

            <div class="side-box">
                <h2 class="heading">Random Posts</h2>
                <ul class="post-list list-unstyled">
                {{ range first 4 (shuffle (where .Data.Pages "Type" "posts")) }}
                <li>
                    <a href="{{ .RelPermalink }}" class="d-flex">
                    <span class="mr-3 image"><img src="{{ .RelPermalink }}image.jpg" alt="Image placeholder" class="img-fluid"></span>
                    <div>
                        <span class="meta">{{ .PublishDate.Format $dateFormat }}</span>
                        <h3>{{ .Title }}</h3>
                    </div>
                    </a>
                </li>
                {{ end }}
                </ul>
            </div>

            </div>
            

            

        </div>
        
        </div>
    </div>
    </div>
</section>
{{ end }}