{{ define "main" }}
<div id="write">
<div class="container" id="next-section">
<div class="metadata">
{{ partial "metadata.html" . }}
</div>
<br><br>
{{ .Content }}
</div>
</div>
{{ with .Resources.GetMatch "audio.txt" }}
<div class="audio">
<style>
    iframe { vertical-align:bottom; }
</style>
<iframe src="{{ .Content }}" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
{{ end }}
{{ end }}