<footer class="section footer-section">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-3 mb-5">
        <h3>Quick Link</h3>
        <ul class="list-unstyled link">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
        </ul>
        </div>
        <div class="col-md-3 mb-5">
        <h3>Support</h3>
        <ul class="list-unstyled link">
            <li><a href="#">Our Location</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </div>
        <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <h3>Contact Info</h3>
        <p><span class="d-block">Address:</span> <span> Chilanzar-2 Arnasoy street, 2-35 Tashkent Uzbekistan 100115</span></p>
        <p><span class="d-block">Phone:</span> <span> (+998) 94 634 27 88</span></p>
        <p><span class="d-block">Email:</span> <span> evgeniy.pak.97@gmail.com</span></p>
        </div>
        <div class="col-md-3 mb-5">
        <h3>Subscribe</h3>
        <p>Sign up for our newsletter</p>
        <form action="#" class="footer-newsletter">
            <div class="form-group">
            <input type="email" class="form-control" placeholder="Your email...">
            <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
            </div>
        </form>
        </div>
    </div>
    <div class="row bordertop text-center pt-5">
        <p class="col-md-12">
            &copy; Copyright 2021. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://t.me/nn_mrpark">Evgeniy Pak</a>
        </p>
        
        <p class="col-md-12 social">
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-instagram"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <a href="#"><span class="fa fa-telegram"></span></a>
        </p>
    </div>
    </div>
</footer>
</div> <!-- .animsition -->