<footer class="section footer-section">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-3 mb-5">
        <h3>Quick Link</h3>
        <ul class="list-unstyled link">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{ end }}
        </ul>
        </div>
        <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <h3>Contact Info</h3>
        <p><span class="d-block">Email:</span> <span> evgeniy.pak.97@gmail.com</span></p>
        <p><span class="d-block">Address:</span> <span> Tashkent, Uzbekistan</span></p>
        </div>
    </div>
    <div class="row bordertop text-center pt-5">
        <p class="col-md-12">
            &copy; Copyright {{ now.Format "2006" }}. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://t.me/nn_mrpark">Evgeniy Pak</a>
        </p>
        
        <p class="col-md-12 social">
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="https://www.instagram.com/master_channel_telegram/"><span class="fa fa-instagram"></span></a>
            <a href="https://www.linkedin.com/in/mrpark97/"><span class="fa fa-linkedin"></span></a>
            <a href="https://t.me/master_channel"><span class="fa fa-telegram"></span></a>
        </p>
    </div>
    </div>
</footer>
</div> <!-- .animsition -->