<div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">

<header class="site-header">
    <div class="container-fluid">
    <div class="row">
        <div class="col-4 site-logo" data-aos="fade"><a href="/master" class="animsition-link">{{ .Site.Title }}</a></div>
        <div class="col-8">


        <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
            <nav role="navigation">
            <div class="container">
                <div class="row full-height align-items-center">
                <div class="col-md-12 justify-content-center">
                    <ul class="list-unstyled menu">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"><a href="{{.URL}}" class="animsition-link">{{.Name}}</a></li>
                    {{ end }}
                    </ul>
                </div>
                </div>
            </div>
            </nav>
        </div>
        </div>
    </div>
    </div>
</header>
<!-- END head -->