<div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">

<header class="site-header">
    <div class="container-fluid">
    <div class="row">
        <div class="col-4 site-logo" data-aos="fade"><a href="index.html" class="animsition-link">Bachelor</a></div>
        <div class="col-8">


        <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
            <nav role="navigation">
            <div class="container">
                <div class="row full-height align-items-center">
                <div class="col-md-12 justify-content-center">
                    <ul class="list-unstyled menu">
                    <li class="active"><a href="index.html" class="animsition-link">Home</a></li>
                    <li><a href="hotel.html" class="animsition-link">Literature</a></li>
                    <li><a href="gallery.html" class="animsition-link">Gallery</a></li>
                    <li><a href="blog.html" class="animsition-link">Sneakers</a></li>
                    <li><a href="about.html" class="animsition-link">About Us</a></li>
                    <li><a href="contact.html" class="animsition-link">Contact</a></li>
                    </ul>
                </div>
                </div>
            </div>
            </nav>
        </div>
        </div>
    </div>
    </div>
</header>
<!-- END head -->

<section class="site-hero overlay" style="background-image: url(images/school_of_athens.jpeg)">
    <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
        <h1 class="heading mb-4" data-aos="fade-up">Thoughts &amp; Stories</h1>
        <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            by <a href="https://www.linkedin.com/in/mrpark97/" target="_blank">Evgeniy Pak</a>
        </p>
        <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
            <a href="https://t.me/joinchat/kzx9l0XXBXg2MTUy" target="_blank" class="btn uppercase btn-outline-light d-sm-inline d-block py-3">join our Telegram channel</a>
        </p>
        </div>
    </div>
    <p  data-aos="fade-up" data-aos-offset="-500"><a href="#next-section" class="scroll-down smoothscroll"> <span class="fa fa-play"></span> Scroll Down</a></p>
    </div>
</section>
<!-- END section -->