<script src="/master/js/jquery-3.2.1.min.js"></script>
<script src="/master/js/popper.min.js"></script>
<script src="/master/js/bootstrap.min.js"></script>
<script src="/master/js/owl.carousel.min.js"></script>
<script src="/master/js/jquery.fancybox.min.js"></script>
<script src="/master/js/animsition.min.js"></script>
<script src="/master/js/aos.js"></script>
<script src="/master/js/main.js"></script>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>